* {
  box-sizing: border-box;
}

body {
  font-family: "Baloo 2", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

footer {
  margin-top: auto;
}

header,
footer {
  display: grid;
  place-items: center;
  background-color: rebeccapurple;
  color: #fff;
}

main {
  padding: 1rem;
  max-width: 80ch;
  margin: 0 auto;
  outline: 2px dashed grey;
}
.footer-copyright {
  padding-bottom: 1rem;
  padding-top: 1rem
}

nav ul a, nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.cover {
  height: -o-calc(100% - 56px);
  /* opera */
  height: -webkit-calc(100% - 56px);
  /* google, safari */
  height: -moz-calc(100% - 56px);
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}